* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    color: #342111;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #C81E0C;
    font-size: 60px;
    text-shadow: 2px 2px #343311;
}

header {
    width: 100%;
    padding: 30px 0;
    font-size: 20px;
    text-align: center;
}

.main-app {
    padding: 0 40px;
}

.main-app::after {
    content: "";
    background: url("images/wood-grain.jpeg") repeat-y center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #F9F7CA;
    opacity: 0.20;
    height: 1650px; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute; 
    z-index: -1;   
}

button {
    padding: 20px;
    border: none;
    background-color:#E5761B;
    color: #342111;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2.5px 5px #343311;
    transition: all 0.3s ease;
    margin-top: 20px;
    border-radius: 15px;
    font-family: 'Gloria Hallelujah', cursive;
}

.top-nav {
    width: 100%;
    height: 60px;
    background-color: #342111;
    overflow: hidden;
    font-family: 'Gloria Hallelujah', cursive;
}

.logo {
    display: inline-block;
    vertical-align: top;
    height: 48px;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

/* Style the links inside the navigation bar */
.top-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

 /* Change the color of links on hover */
.top-nav a:hover {
    background-color: #343311;
    /* color: black; */
}

/* Add an active class to highlight the current page */
.top-nav a.active {
    background-color: #E5761B;
    color: #342111 ;
}

/* Hide the link that should open and close the topnav on small screens */
.top-nav .icon {
    display: none;
}

ul {
    list-style-type: none;
} 

.category-list {
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}

.header-image {
    height: 100%;
    width: 50%;
    float: center; 
    padding: 2%;
    margin-left: 1em;
    border-radius: 90%;
}

/* the following all relates to the social media icons in the footer */ 

textarea {
  resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
  padding-top: 15px;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
