* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: #F9F7CA;
    color: #342111;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #C81E0C;
    font-size: 60px;
    text-shadow: 2px 2px #343311;
}

header {
    width: 100%;
    padding: 30px 0;
    font-size: 20px;
    text-align: center;
    /*justify-content: space-around;*/
}

.mainapp {
    padding: 0% 10% 5% 10%;
}

button {
    padding: 20px;
    border: none;
    /* background-color:#343311; */
    background-color:#E5761B;
    color: #342111;
    /*border-color: #342111;
    border-radius: 50px; */
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2.5px 5px #343311;
    transition: all 0.3s ease;
    margin-top: 20px;
    border-radius: 15px;
    font-family: 'Gloria Hallelujah', cursive;
}

.topnav {
    background-color: #342111;
    overflow: hidden;
    font-family: 'Gloria Hallelujah', cursive;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

 /* Change the color of links on hover */
.topnav a:hover {
    background-color: #343311;
    /* color: black; */
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #E5761B;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

ul {
    list-style-type: none;
} 

.category-list {
    align-items: center;
    text-align: center;
}

.logo {
    /*height: auto; */
    height: 100%;
    width: 50%;
    float: center; 
    padding: 2%;
    margin-left: 1em;
    border-radius: 90%;
}